.sideBar{
    flex: 0.2;
    height: calc(100vh - 85px);
    background-color: black;
    color: white;
    min-width:230px;
    overflow: hidden;
    
}

.sideIcon{
    height: 70px;
    padding: 0;
    min-height: 20px;
    object-fit: contain;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 20px;
    
}

.sideBar > hr{
    height: 1px;
    margin: 10px;
    background-color: grey;
    border: none;
}

.sideBar > strong{
    color: grey;
    padding-left: 20px;
    margin-top: 10px;
    display: block;
}

.scrollPlaylist{
    overflow: scroll;
    height: calc(100vh - 400px);
}

